@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif !important;
}

html,
body {
	min-height: 100%;
	background: #00a8ff;
	transition: 0.5s all ease-in;
}

h1,
label, 
.p {
	color: #fff !important;
}

.container {
	width: 80% !important;
	max-width: 1366px !important;
}

.fullscreen {
	height: 100vh;
	width: 100vw;
}

.button {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	border: none;
	outline: none;
	background: #fff;
	box-shadow: 0 3px 14px 2px #ffffff9b;
	text-align: center;
	border-radius: 4px;
	padding: 12px;
	margin: 20px 10px;
	color: #00a8ff !important;
	text-decoration: none;
	transition: 0.5s all ease;
}

.button:hover {
	cursor: pointer;
	box-shadow: 0 7px 14px 2px #ffffff9b;
	color: #fff;
}

.form {
	display: flex;
	width: 90vw;
	flex-direction: column;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical {
    flex-direction: column;
}

.center.horizontal {
	display: flex;
	justify-content: center;
}

.chart {
	background: #fff;
	height: 500px;
	width: 90vw;
	margin: 20px 0;
	border-radius: 4px;
	box-shadow: 0 3px 20px 7px #0000002e;
	padding: 40px;
}

.snackbar-message {
    display: flex;
    align-items: center;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.links a {
	text-decoration: none;
	color: #fff;
}

.links a:nth-child(2) {
	display: flex;
	margin-top: 20px;
	align-items: center;

}

.links img {
	width: 32px;
	height: 32px;
	margin: 0 10px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.links img:hover {
	background-color: #000;
}

@media only screen and (max-width: 500px) {
	.chart {
		height: 400px;
		width: 83vw;
		margin: 10px 0;
		padding: 20px;
	}

	text.recharts-text {
		font-size: 0.4rem;
	}
}